.page {
    max-width: 100%;
    min-height: 100%;
    min-height: 320px;
    background: #2A2C2F;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}