.lead__title{
    max-width: 720px;
    margin: 0 auto 32px;
    color: #FFF;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    text-align: center;
}
@media (max-width: 680px){
    .lead__title{
        font-size: 74px;
        line-height: 66px;
    }
}
@media (max-width: 540px){
    .lead__title{
        font-size: 54px;
        line-height: 46px;
    }
}
@media (max-width: 378px){
    .lead__title{
        margin-bottom: 16px;
        font-size: 40px;
        line-height: 44px;
        word-break: normal;
    }
}