.lead__container{
    max-width: 984px;
    margin: 56px auto 0;
}
@media (max-width: 1024px){
    .lead__container{
        max-width: 928px;
    }
}
@media (max-width: 320px){
    .lead__container{
        margin-top: 48px;
    }
}